body {
    background-color: #f8f9fa;
}
.navbar-brand img {
    max-width: 100px; /* Ajusta el tamaño de tu logo según sea necesario */
}


.titulo-productos{
color: rgb(2, 2, 2);
text-align: center;
font-size: 3rem;
font-weight: bold;
} 

.informacion{
    margin-top: 50px;
    margin-bottom: 50px ;
    color: white;
    text-align: justify;
}

.informacion_text{
    background: black;
    width: 100%;
    padding: 10px 5px 10px 10px;
    font-size: large;
}

.informacion_icon{
    padding: 10px  ;
}
.informacion_icon i{
    color: rgb(255, 255, 255);
    font-size: 7rem;
    background: black;
    width: 100%;
    display: flex;
    justify-content: center; 
}
.informacion_img img {
    width: 100%;
    height: 100%;
}


